{% extends "base.html" %}

{% block head %}
    <title> Blogify </title>
{% endblock %}

{% block body %}
    <h1> Blogs </h1>
    <a href = "{{url_for("create_post")}}">
        <button type="button">NEW POST</button>
    </a>

    {% for post in posts %}
        <div class="post">
            <a href="{{url_for('post_detail', id=post.id)}}">
                <h2>{{ post.title }}</h2>
                <p class="meta">By: {{post.author}} on {{post.posted_at}}</p>
            </a>
        </div>
    {% endfor %}

{% endblock %}